
<body>
<h1><%="<img src=#{@poster["Poster"]}>"%></h1>
<p><%="Year Released: #{@poster["Year"]}"%></p>
<p><%="Runtime: #{@poster["Runtime"]}"%></p>
<p><%="Genre: #{@poster["Genre"]}"%></p>
<p><%="Director: #{@poster["Director"]}"%></p>
<p><%="Cast: #{@poster["Actors"]}"%></p>
<p><%="Rating: #{@poster["Rated"]}"%></p>
<p><%="Synopsis: #{@poster["Plot"]}"%></p>
<p><a href="http://www.imdb.com/title/<%= "#{@poster["imdbID"]}" %>">IMDB Page</a></p>
</body>
